# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
build-*
krackx/CMakeLists.txt.user.52a86b7
krackx/CMakeLists.txt.user.e6ff724
